<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title || "SenaVerse Shop" %>
    </title>
    <link href="/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/logo.png">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/logo.png" alt="SenaVerse Shop Logo">
        </div>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <div class="social-media">
            <a href="https://twitter.com/SenaThenu/-" target="_blank">Twitter</a>
            <a href="https://instagram.com/SenaThenu/" target="_blank">Instagram</a>
        </div>
        <p>&copy; SenaVerse <%= new Date().getFullYear() %>. All Rights Reserved.</p>
    </footer>
</body>

</html>