<% for (let product of Object.values(locals.products)) { %>

<div class="product-card">
    <img src="<%= product["main_img"] %>" alt="<%= `${product["display_name"]} Preview Image` %>">
    <p>
        <%= product["display_name"] %>
    </p>
    <p>
        <%= product["price"] %>
    </p>
</div>

<% } %>