<img src="<%= locals.main_img %>" alt="Image">
<div>
    <h1>
        <%= locals.display_name %>
    </h1>
    <p>
        <%= locals.description %>
    </p>
    <button type=" button">
        <% if (locals.price > 0) { %>
        Buy Me!
        <% } else { %>
        Claim for Free!
        <% } %>
    </button>
</div>