@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Space Mono', monospace;
}

header {
    background-color: #333;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}