@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*:after,
*:before {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.1rem;
  box-sizing: border-box;
  color: hsl(208, 49%, 92%);
}

body {
  background-color: hsl(216, 71%, 7%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85vw;
  max-width: 56rem;
  z-index: 10;
  position: fixed;
  top: 0.75rem;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(hsla(212, 77%, 34%, 0.5), hsla(201, 97%, 60%, 0.3));
  backdrop-filter: blur(20px);
  border-radius: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  padding: 0.25rem 0rem;
}
.logo-container .logo {
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 0.3rem;
  background: transparent;
}
.logo-container .logo img {
  background: transparent;
}
.logo-container .shop-title {
  font-size: 1.5rem;
  font-weight: 700;
  background: transparent;
}

.product-cards-container {
  display: grid;
  width: 90vw;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}
.product-cards-container a {
  text-decoration: none;
  color: inherit;
}
.product-cards-container .product-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(hsla(212, 77%, 34%, 0.5), hsla(201, 97%, 60%, 0.3));
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 1rem;
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}
.product-cards-container .product-card .preview {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-cards-container .product-card .preview img {
  width: 100%;
  margin: auto;
  border-radius: 20px;
}
.product-cards-container .product-card .preview .hover-img {
  position: relative;
  z-index: 5;
  margin-top: -100%;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.product-cards-container .product-card .name {
  font-size: 1.3rem;
}
.product-cards-container .product-card .price {
  font-size: 1.1rem;
}
.product-cards-container .product-card:hover {
  transform: scale(1.01);
}
.product-cards-container .product-card:hover .hover-img {
  opacity: 1;
}

.product {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 8rem;
  width: 80vw;
}
.product .product-preview {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.product .product-preview .focus-img {
  width: 80%;
  margin-left: 1rem;
}
.product .product-preview .focus-img .all-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product .product-preview .focus-img .all-imgs img {
  display: none;
  animation: fade 200ms ease-in-out;
}
.product .product-preview .focus-img .all-imgs .focused {
  display: block;
  opacity: 1;
}
.product .product-preview .focus-img img {
  width: 100%;
  max-width: 30rem;
  border-radius: 20px;
}
.product .product-preview .all-selector-imgs {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  width: 20%;
}
.product .product-preview .all-selector-imgs img {
  width: 100%;
  max-width: 6rem;
  border-radius: 20px;
  margin: 0.3rem 0;
}
.product .product-details {
  width: 45%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product .product-details .name {
  font-size: 2rem;
}
.product .product-details .price {
  font-size: 1.5rem;
}
.product .product-details .description {
  margin-top: 1.2rem;
  font-size: 1.25rem;
}
.product .product-details .call-to-action {
  margin-top: 1.25rem;
  height: 2.3rem;
  border-radius: 50px;
  background: linear-gradient(hsla(212, 77%, 34%, 0.5), hsla(201, 97%, 60%, 0.3));
  backdrop-filter: blur(20px);
  border: none;
}

footer {
  padding: 2rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  background: linear-gradient(hsla(212, 77%, 34%, 0.5), hsla(201, 97%, 60%, 0.3));
  backdrop-filter: blur(20px);
  border-radius: 50px;
}

.social-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-container .social-media img {
  height: 2rem;
}

/*# sourceMappingURL=style.css.map */
