@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

// theme variables
$text: hsl(208, 49%, 92%);
$background: hsl(216, 71%, 7%);
$primary: hsl(212, 77%, 34%);
$secondary: hsl(257, 42%, 32%);
$accent: hsl(201, 97%, 60%);
$glass-bg: linear-gradient(hsla(212, 77%, 34%, 0.5), hsla(201, 97%, 60%, 0.3));

// animations
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

*,
*:after,
*:before {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box;
    color: $text;
}

body {
    background-color: $background;
}

// layout styles
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85vw;
    max-width: 56rem;
    z-index: 10;

    position: fixed;
    top: 0.75rem;
    left: 50%;
    transform: translate(-50%);

    background: $glass-bg;
    backdrop-filter: blur(20px);
    border-radius: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    padding: 0.25rem 0rem;

    .logo {
        display: block;
        height: 3.5rem;
        width: 3.5rem;
        margin-right: 0.3rem;
        background: transparent;

        img {
            background: transparent;
        }
    }


    .shop-title {
        font-size: 1.5rem;
        font-weight: 700;
        background: transparent;
    }
}

.product-cards-container {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-flow: row;
    
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;

    a {
        text-decoration: none;
        color: inherit;
    }

    .product-card {
        display: flex;
        flex-direction: column;

        background: $glass-bg;
        backdrop-filter: blur(20px);
        border-radius: 20px;

        padding: 1rem;

        transform: scale(1);
        transition: transform 250ms ease-in-out;

        .preview {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                margin: auto;
                border-radius: 20px;
            }

            .hover-img {
                position: relative;
                z-index: 5;
                margin-top: -100%;
                opacity: 0;
                transition: opacity 250ms ease-in-out;
            }
        }

        .name {
            font-size: 1.3rem;
        }

        .price {
            font-size: 1.1rem;
        }
    }

    .product-card:hover {
        transform: scale(1.01);

        .hover-img {
            opacity: 1;
        }
    }
}

// this holds the style rules for a product page
.product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8rem;
    width: 80vw;

    .product-preview {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        .focus-img {
            width: 80%;
            margin-left: 1rem;

            .all-imgs {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    display: none;
                    animation: fade 200ms ease-in-out;
                }

                .focused {
                    display: block;
                    opacity: 1;
                }
            }

            img {
                width: 100%;
                max-width: 30rem;
                border-radius: 20px;
            }
        }
        .all-selector-imgs {
            display: flex;
            align-self: flex-start;
            align-items: center;
            flex-direction: column;
            width: 20%;
            img {
                width: 100%;
                max-width: 6rem;
                border-radius: 20px;
                margin: 0.3rem 0;
            }
        }
    }

    .product-details {
        width: 45%;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .name {
            font-size: 2rem;
        }

        .price {
            font-size: 1.5rem;
        }

        .description {
            margin-top: 1.2rem;
            font-size: 1.25rem;
        }

        .call-to-action {
            margin-top: 1.25rem;
            height: 2.3rem;
            border-radius: 50px;
            background: $glass-bg;
            backdrop-filter: blur(20px);
            border: none;
        }
    }
}



footer {
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;

    background: $glass-bg;
    backdrop-filter: blur(20px);
    border-radius: 50px;
    
}

.social-media-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .social-media img {
        height: 2rem;
    }
}

